/* fonts */
/* :root {
	--primary-font: PingFang SC Regular;
	--secondary-font: PingFang SC Medium;
	--tertiary-font: PingFang SC Bold;
} */

/* text styles*/
.label-large {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0px;
}
.label-medium {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0px;
}
.label-small {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0px;
}
.label-x-small {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0px;
}
.label-xx-small {
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0px;
}
.label-xxx-small {
	font-weight: normal;
	font-size: 8px;
	line-height: 12px;
	letter-spacing: 0px;
}
.paragraph-large {
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0px;
}
.paragraph-medium {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0px;
}
.paragraph-small {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0px;
}
.paragraph-x-small {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0px;
}
.paragraph-xx-small {
	font-weight: normal;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0px;
}
.heading-x-large {
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 0px;
}
.heading-large {
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	letter-spacing: 0px;
}
.heading-medium {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0px;
}
.heading-small {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0px;
}
.heading-x-small {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0px;
}
