$color-tint-brand: rgba(103, 58, 183, 1);
$color-tint-accent: rgba(255, 87, 34, 1);
$color-tint-warning: rgba(198, 40, 40, 1);
$color-background-base: rgba(255, 255, 255, 1);
$color-background-secondary: rgba(245, 246, 250, 1);
$color-surface-base: rgba(255, 255, 255, 1);
$color-surface-secondary: rgba(245, 246, 250, 1);
$color-surface-tertiary: rgba(228, 229, 237, 1);
$color-surface-tint-brand: rgba(103, 58, 183, 1);
$color-surface-tint-light-brand: rgba(237, 231, 246, 1);
$color-on-surface-high: rgba(10, 15, 25, 1);
$color-on-surface-medium: rgba(175, 178, 190, 1);
$color-on-surface-disabled: rgba(218, 219, 226, 1);
$color-on-surface-inverse-high: rgba(255, 255, 255, 1);
$color-on-surface-inverse-medium: rgba(92, 98, 120, 1);
$color-on-surface-inverse-disabled: rgba(65, 73, 96, 1);
$color-on-tint-high: rgba(10, 15, 25, 1);
$color-on-tint-medium: rgba(10, 15, 25, 0.36);
$color-on-tint-disabled: rgba(10, 15, 25, 0.18);
$color-on-tint-inverse-high: rgba(255, 255, 255, 1);
$color-on-tint-inverse-medium: rgba(255, 255, 255, 0.36);
$color-on-tint-inverse-disabled: rgba(255, 255, 255, 0.18);
$color-border-transparent: rgba(10, 15, 25, 0.08);
$color-border-opaque: rgba(228, 229, 237, 1);
