:root {
	--color-palettes-panda-white: rgba(255, 255, 255, 1);
	--color-palettes-panda-black: rgba(0, 0, 0, 1);
	--color-palettes-gray-0: rgba(245, 246, 250, 1);
	--color-palettes-gray-50: rgba(228, 229, 237, 1);
	--color-palettes-gray-100: rgba(218, 219, 226, 1);
	--color-palettes-gray-150: rgba(205, 207, 214, 1);
	--color-palettes-gray-200: rgba(175, 178, 190, 1);
	--color-palettes-gray-300: rgba(150, 153, 167, 1);
	--color-palettes-gray-400: rgba(120, 125, 143, 1);
	--color-palettes-gray-500: rgba(92, 98, 120, 1);
	--color-palettes-gray-600: rgba(65, 73, 96, 1);
	--color-palettes-gray-700: rgba(42, 50, 73, 1);
	--color-palettes-gray-800: rgba(24, 31, 49, 1);
	--color-palettes-gray-900: rgba(10, 15, 25, 1);
	--color-palettes-red-50: rgba(255, 235, 238, 1);
	--color-palettes-red-500: rgba(244, 67, 54, 1);
	--color-palettes-red-800: rgba(198, 40, 40, 1);
	--color-palettes-orange-50: rgba(255, 243, 224, 1);
	--color-palettes-orange-100: rgba(255, 224, 178, 1);
	--color-palettes-orange-200: rgba(255, 204, 128, 1);
	--color-palettes-orange-500: rgba(255, 152, 0, 1);
	--color-palettes-deep-orange-50: rgba(251, 233, 231, 1);
	--color-palettes-deep-orange-100: rgba(255, 204, 188, 1);
	--color-palettes-deep-orange-500: rgba(255, 87, 34, 1);
	--color-palettes-lime-100: rgba(240, 244, 195, 1);
	--color-palettes-lime-700: rgba(175, 180, 43, 1);
	--color-palettes-teal-50: rgba(224, 242, 241, 1);
	--color-palettes-teal-100: rgba(178, 223, 219, 1);
	--color-palettes-teal-500: rgba(0, 150, 136, 1);
	--color-palettes-blue-50: rgba(227, 242, 253, 1);
	--color-palettes-blue-100: rgba(187, 222, 251, 1);
	--color-palettes-blue-500: rgba(33, 150, 243, 1);
	--color-palettes-indigo-50: rgba(232, 234, 246, 1);
	--color-palettes-indigo-500: rgba(63, 81, 181, 1);
	--color-palettes-deep-purple-50: rgba(237, 231, 246, 1);
	--color-palettes-deep-purple-100: rgba(209, 196, 233, 1);
	--color-palettes-deep-purple-200: rgba(179, 157, 219, 1);
	--color-palettes-deep-purple-500: rgba(103, 58, 183, 1);
	--color-palettes-pink-50: rgba(252, 228, 236, 1);
	--color-palettes-pink-500: rgba(233, 30, 99, 1);
}
