/* colors */
:root {
	--purple-050: rgba(250, 248, 255, 1);
	--purple-100: rgba(228, 220, 248, 1);
	--purple-200: rgba(207, 194, 241, 1);
	--purple-300: rgba(166, 146, 229, 1);
	--purple-400: rgba(129, 107, 212, 1);
	--purple-500: rgba(96, 77, 190, 1);
	--purple-600: rgba(68, 54, 173, 1);
	--purple-700: rgba(41, 37, 149, 1);
	--purple-800: rgba(24, 28, 118, 1);
	--purple-900: rgba(14, 23, 84, 1);
	--orange-050: rgba(255, 250, 247, 1);
	--orange-100: rgba(255, 229, 214, 1);
	--orange-200: rgba(255, 206, 181, 1);
	--orange-300: rgba(255, 159, 118, 1);
	--orange-400: rgba(255, 112, 64, 1);
	--orange-500: rgba(237, 77, 33, 1);
	--orange-600: rgba(214, 47, 14, 1);
	--orange-700: rgba(184, 23, 4, 1);
	--orange-800: rgba(149, 8, 0, 1);
	--orange-900: rgba(112, 0, 0, 1);
	--gray-050: rgba(246, 246, 246, 1);
	--gray-100: rgba(238, 238, 238, 1);
	--gray-200: rgba(226, 226, 226, 1);
	--gray-300: rgba(203, 203, 203, 1);
	--gray-400: rgba(175, 175, 175, 1);
	--gray-500: rgba(117, 117, 117, 1);
	--gray-600: rgba(84, 84, 84, 1);
	--gray-700: rgba(51, 51, 51, 1);
	--gray-800: rgba(31, 31, 31, 1);
	--gray-900: rgba(20, 20, 20, 1);
	--panda-black: rgba(0, 0, 0, 1);
	--panda-white: rgba(255, 255, 255, 1);
}
