:root {
	--read-theme-a-primary: rgba(204, 157, 57, 1);
	--read-theme-a-background: rgba(250, 247, 235, 1);
	--read-theme-a-surface: rgba(255, 253, 247, 1);
	--read-theme-b-primary: rgba(80, 153, 95, 1);
	--read-theme-b-background: rgba(216, 240, 221, 1);
	--read-theme-b-surface: rgba(235, 250, 238, 1);
	--read-theme-c-primary: rgba(143, 142, 137, 1);
	--read-theme-c-background: rgba(31, 31, 30, 1);
	--read-theme-c-surface: rgba(51, 51, 50, 1);
	--qq-vip-yellow: rgba(249, 174, 8, 1);
	--qq-vip-light-yellow: rgba(255, 242, 204, 1);
	--qq-vip-red: rgba(232, 31, 31, 1);
	--qq-vip-dark-red: rgba(183, 32, 37, 1);
	--qq-vip-light-red: rgba(255,224,225,1);
	--qq-vip-black: rgba(0, 0, 0, 1);
	--qq-vip-white: rgba(255, 255, 255, 1);
	--qq-vip-gray: rgba(173, 173, 173, 1);
	--qq-vip-light-gray: rgba(216, 216, 216, 1);
	--qq-yellow-diamond-yellow: rgba(245, 197, 0, 1);
	--qq-yellow-diamond-light-yellow: rgba(255, 247, 214, 1);
}
